<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->

#parse("web/common/head.vm")
<link rel="stylesheet" href="$!{viewUtil.getContextPath()}/static/css/superfish.css" type="text/css">
<script type="text/javascript" src="$!{viewUtil.getContextPath()}/static/js/superfish.js"></script>

<body>
	#parse("web/common/header.vm")
	<div style="width:960px;height:50px;margin:0 auto;position:relative;">
	    #parse("web/common/navi.vm")
	</div>
	<div class="currpath nav_color_theme">
		<span style="margin-left:18px;">
			You are here:&nbsp;
			<a href="$!{viewUtil.getContextPath()}/">Home</a> - 
			<a href="$!{viewUtil.getContextPath()}/company">About AENTROPI</a>
		</span>
	</div>
	<div class="pagebody">
		<div class="pageleft">
			<div id="pageleft_inner" class="pageleft_inner">
				<div id="slide" class="slide">
					<ul class="submenu">
						<li class="close" id="menu_1"><a href="javascript:void(0)">Overview</a></li>
						<li class="open" id="menu_2"><a href="javascript:void(0)" >Social Responsibility</a></li>
						<li class="open" id="menu_3"><a href="javascript:void(0)">Customer Testimonials</a></li>
						<li class="open last " id="menu_4"><a href="javascript:void(0)" >Career</a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div>
		<div class="pageright" id="_about_1" style="display:block">
			<div class="pagemain">
				<ul class="title">Overview</ul>
				<div class="content" style="text-align:Justify; text-justify:inter-ideograph; ">
					<span style="line-height: 17px; font-size: 12px;">
						  AENTROPI was established in 2010 in the wake of the world’s countries became focusing on renewable energy and solar Photovoltaic in particular. AENTROPI spent the years analyzing markets and solar installation cases worldwide thereby creating an extensive knowledge about the best possible solutions to solar systems, not only for medium sized residential cases, but also for large scale embedded power plants. During the time, AENTROPI’s partners in Asia get the task of factories and products inspection and build up a supply chain that could ensure the products of highest quality.
					</span>
					
					<br /><br />
					
					<span style="line-height: 17px; font-size: 12px;">
						With a team of excellence, our knowledge, experience, and continual innovation have lead to highly successful gigawatt solar system installations and hundreds of turnkey megawatt power plants worldwide. AENTROPI provides industry-leading solar energy solutions that not only include panel manufacturing, but also package services throughout the entire life cycle of solar power plants, from project design, financing, engineering, procurement, and construction management through operations and maintenance services.
					</span>
					<br /><br />
					<span style="line-height: 17px; font-size: 12px;">
						Today, AENTROPI is grown into one of the leading suppliers of complete solar power solutions and has built a solid experience in the design of all types of PV systems, ranging from small installations to more advanced construction solutions. AENTROPI serves both as a consultant and supplier of complete PV systems for private, business, agriculture and government.
					</span>
					
					<br /><br />
					
					<span style="line-height: 17px; font-size: 12px;">
						AENTROPI concerned about the satisfaction of their customers, which is why we are always standing by to answer your questions. AENTROPI is staffed with knowledgeable experts who can help you select a solar panel or just explain the solar basics. If you have any questions, please do not hesitate to contact us.
					</span>
					<br /><br />
					<div class="subpage_banner">
						<img src="$!{viewUtil.getContextPath()}/static/images/about01.png" border="0"/>
					</div>
				</div>
			</div>
			
			<div class="clear"></div>
		</div>
		
		
		
<!--==============================about 2=======================================-->		
		<div class="pageright" id="_about_2" style="display:none">
			<div class="pagemain">
				<ul class="title">Social Responsibility</ul>
				<div class="content" style="text-align:Justify; text-justify:inter-ideograph; ">
					<span style="line-height: 17px; font-size: 12px;">
						Sustainable energy is the key solving the current environmental crisis. 
						The mission of AENTROPI is to provide everyone with reliable and affordable access 
						to the cleanest energy resource and the most efficient energy usages. As a vertical 
						manufacturer of solar panels and solution provider, AENTROPI develops advanced and 
						innovative technologies to drive down the cost of clean energy, making it economically viable 
						for millions to harness nature’s power.
					</span>
					
					<br /><br />
					
					<span style="line-height: 17px; font-size: 12px;">
						We also feel a strong obligation to help educate the public about alternative energy resources.
						 AENTROPI works with educational institutions and organizations to promote clean energy and provide
						  training. In the near future, AENTROPI will continue to carry out its goal of achieving social entrepreneurship.
					</span>
					
					<br /><br />
					
					<div class="subpage_banner">
						<img src="$!{viewUtil.getContextPath()}/static/images/about02.png" border="0"/>
					</div>
					
					<br />
					
					<span style="line-height: 17px; font-size: 12px;">
						AENTROPI is not just another clean energy supplier. In every aspect, we carry out our commitment to 
						provide customers with the best service possible. This goes far beyond our final products. We respond to your 
						requests and questions at the speed of light. We reduce our advertising costs to help maximize your profits. We 
						can ship any quantity of energy products that a customer may request. No project is too big for us. We are down 
						to earth. All of these contribute to peace of mind when choosing clean energy.
					</span>
					<br />
				</div>
			</div>
			
		</div>
		
		
<!--==============================about 3=======================================-->			
		<div class="pageright" id="_about_3" style="display:none">
			
			<div class="pagemain">
				<ul class="title">Customer Testimonials</ul>
				<div class="content" style="text-align:Justify; text-justify:inter-ideograph; ">
					<span style="line-height: 17px; font-size: 12px; font-style:italic">
						As one of their distributors, we have installed over 800 kilowatts of AENTROPI solar panels in South American region. We are extremely pleased with the quality of their service and products. Packaging, performance, and appearance of their products are unsurpassed by any of our other vendors.
					</span>
					<br />
					<div>
						<span style="line-height: 17px; font-size: 12px; color:#2c9fe1; float:right;">
							- Robert, Brazil
						</span>
					</div>
					
					<br /><br /><br /><br />
					
					<span style="line-height: 17px; font-size: 12px; font-style:italic">
						AENTROPI team is very helpful and supportive. I once asked AENTROPI to help me for my own roof top solution, and they responded me the very next day with the complete design. At that time I have little knowledge about photovoltaic, I gained a lot during the talk with AENTROPI engineer. Now, cooperated with AENTROPI team, I am working as an EPC to develop Japanese solar projects.
						
					</span>
					<br />
					<div>
						<span style="line-height: 17px; font-size: 12px; color:#2c9fe1; float:right;">
							- S. Nakamura, Japan
						</span>
					</div>
					<br /><br /><br /><br />
					
					<span style="line-height: 17px; font-size: 12px;font-style:italic">
						AENTROPI is professional in every aspect. Working with them is a fantastic experience. They provide plenty of complete solutions to choose from for different cases, and the price of their products is accessible.
						
					</span>
					<br />
					<div>
						<span style="line-height: 17px; font-size: 12px; color:#2c9fe1; float:right;">
							– Louis, UK
						</span>
					</div>
				</div>
			</div>
			
			<div class="clear"></div>
		</div>
		
		
<!--==============================about 4=======================================-->		
		<div class="pageright" id="_about_4" style="display:none">
			<div class="pagemain">
				<ul class="title">Join Us</ul>
				<div class="content" style="text-align:Justify; text-justify:inter-ideograph;">
					<span style="line-height: 17px; font-size: 12px;">
						We are proud of our dedicated employees and team culture. We work as a global family to deliver affordable solar for all. 
						AENTROPI appreciates innovation, rewards dedication, and encourages continuous learning. Join us today.
					</span>
					
					<br/><br/>
					
					<div class="subpage_banner">
						<img src="$!{viewUtil.getContextPath()}/static/images/about04.png" border="0"/>
					</div>
				</div>
				<ul class="title" style="margin:0px 0 1px 15px; font-size:25px;">Positions</ul>
				<div class="content"  style="text-align:Justify; text-justify:inter-ideograph;">
					<div style="margin-bottom:10px;" class="content_splitter"></div>
					<span style="line-height: 17px; font-size: 12px;">
						<span style="line-height: 30px; font-size: 14px; font-weight: bold;">
							<img src="$!{viewUtil.getContextPath()}/static/images/icon/li_dot.png" style="margin-right: 15px;"/>Asia Pacific Region
						</span>
					</span>
					<br />
					<span style="line-height: 17px; font-size: 12px;">
						<i>Title:&nbsp;&nbsp;Senior Quality Control Manager</i>
					</span>
					<br />
					<span style="line-height: 17px; font-size: 12px;">
						<i>Location:&nbsp;&nbsp;Nanjing, China</i>
					</span>
					
					<br /><br />
					
					<span style="line-height: 17px; font-size: 12px;">
						<i>Title:&nbsp;&nbsp;Project Engineer</i>
					</span>
					<br />
					<span style="line-height: 17px; font-size: 12px;">
						<i>Location:&nbsp;&nbsp;Nanjing</i>
					</span>
					
					<br /><br />
					
					<span style="line-height: 17px;">
						<img src="$!{viewUtil.getContextPath()}/static/images/icon/li_dot.png" style="margin-right: 15px;"/><span style="; line-height: 30px; font-size: 14px; font-weight: bold;">
							Europe
						</span>
					</span>
					<br />
					<span style="line-height: 17px; font-size: 12px;">
						<i>Title: &nbsp;&nbsp;Customer Service Engineer</i>
					</span>
					<br />
					<span style="line-height: 17px; font-size: 12px;">
						 <i>Location:&nbsp;&nbsp;London, United Kingdom</i>
					</span>
					
					<br /><br />
					
					<span style="line-height: 17px; font-size: 12px; color:#2c9fe1">
					Apply here: <u>HR@aentropi-power.com</u>
					</span>
					<br />
				</div>
			</div>
			
			<div class="clear"></div>
		</div>
		</div>
	</div>
	
	#parse("web/common/footer.vm")
	
</body>

<script type="text/javascript">
	/*jQuery(function(){
		jQuery('ul.sf-menu').superfish();
	});
	if(typeof(MenuMoveWithScroll)=="function"){
		window.setTimeout(MenuMoveWithScroll,1);
	}*/
	
	// 无刷新改变url状态
	function changeURL(id){
		window.history.pushState({},0,'http://'+window.location.host+'/company/'+ id);		
	}
	
	$(document).ready(function(){
		if($!{sectionId} != 0) {
			var sectionId = $!{sectionId};
			var _div_id = "#_about_" + sectionId;
			$(_div_id).siblings().css("display", "none");
			$(_div_id).css("display", "block");
			$("#menu_"+sectionId).siblings().removeClass();
			$("#menu_"+sectionId).addClass("close");
		}
	
	
		$(".submenu li").click(function(){
			$(".submenu li").removeClass();
			$(this).addClass("close");
		
			var _id = parseInt($(this).index());
			var _div_id = "#_about_" + (_id + 1);
			$(_div_id).siblings().css("display", "none");
			$(_div_id).fadeIn(500);
			//alert(_div_id);
			changeURL(_id+1);
		});
	});
	
</script>
</html>

