<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->

#parse("web/common/head.vm")
<link rel="stylesheet" href="$!{viewUtil.getContextPath()}/static/css/superfish.css" type="text/css">
<script type="text/javascript" src="$!{viewUtil.getContextPath()}/static/js/superfish.js"></script>

<body>
	#parse("web/common/header.vm")
	<div style="width:960px;height:50px;margin:0 auto;position:relative;">
	    #parse("web/common/navi.vm")
	</div>
	<div class="currpath nav_color_theme">
		<span style="margin-left:18px;">
			You are here:&nbsp;
			<a href="$!{viewUtil.getContextPath()}/">Home</a> - 
			Contact Us
		</span>
	</div>
	<div class="pagebody">
		<div class="pageleft">
			<div id="pageleft_inner" class="pageleft_inner">
				<div id="slide" class="slide">
					<ul class="submenu">
						<li class="close last"><a href="$!{viewUtil.getContextPath()}/contact/">Contact Us</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="pageright">
			<div class="pagemain">
				<ul class="title" style="margin:25px 20px 10px 15px;">Contact Information</ul>
				<div class="content">
					<p>
						<span style="line-height: 17px; font-size: 12px;">
							<span style="color: rgb(38, 38, 38); line-height: 30px; font-size: 14px; font-weight: bold;">
								Products & Services
							</span>
						</span>
						<br />
						<span style="line-height: 17px; font-size: 12px;">
							8888888888<br/>
							exebry@gmail.com
						</span>
						<br />
					</p>
					<p>
						<span style="line-height: 17px; font-size: 12px;">
							<span style="color: rgb(38, 38, 38); line-height: 30px; font-size: 14px; font-weight: bold;">
								Invest and Cooperation
							</span>
						</span>
						<br />
						<span style="line-height: 17px; font-size: 12px;">
							999999999<br/>
							exebry@gmail.com
						</span>
					</p>
				</div>
				<div style="margin-left:16px;" class="content_splitter"></div> 
				<ul class="title" style="margin-top:20px;padding-right:20px;">Message</ul>
				<div class="content">
					<form action="javascript:void(0)">
						<div>Your email:</div>
						<div>
							<input type="text" name="fromAddress" id="_from_address"style="color:#6e6e70; margin-top:10px; width:250px;"/>
							<span class="email_warning_1 warning" style="display:none;">Please enter email address !</span>
							<span class="email_warning_2 warning" style="display:none;">Please enter correct email address !</span>
						</div>
						<div style="margin-top:10px; line-height:30px; vertical-align:top;">
							<span style="vertical-align:top;">Your message:</span>
							<div style="margin-left:0px;margin-top:5px;">
								<textarea id="_content" style="width:439px;height:152px;color:#6e6e70;" ></textarea>
								<span style="vertical-align:top; display:none;" class="message_warning warning">Please enter message !</span>
							</div>
							<button id="_send_btn" style="float: left; border: 0px; color: rgb(255, 255, 255); margin-top: 5px; font-weight: bold; font-size: 13px; cursor: pointer; background-color: rgb(44, 159, 225);"><span>提交<span></span></span></button>
						</div>
						<span id="_deliver_info" style="margin-left:92px;color:#3aad07; display:none;">... Delivering ...</span>
						<span id="_success_info" style="margin-left:92px;color:#2c9fe1; display:none;">Deliver Success. Thanks for your message !</span>
						<span id="_fail_info" style="margin-left:92px;color:red; display:none;">Deliver Failed. Please try again !</span>
					</form>
				</div>
			</div>
			
			<div class="clear"></div>
		</div>
	</div>
	
	#parse("web/common/footer.vm")
	
</body>

<style>
.email_warning_1 {color:red; font-size:12px; font-style:italic; margin-left:10px;}
.email_warning_2 {color:red; font-size:12px; font-style:italic; margin-left:10px;}
.message_warning {color:red; font-size:12px; font-style:italic; margin-left:10px;}
</style>

<script type="text/javascript">
	/*jQuery(function(){
		jQuery('ul.sf-menu').superfish();
	});
	if(typeof(MenuMoveWithScroll)=="function"){
		window.setTimeout(MenuMoveWithScroll,1);
	}*/
	
	$(document).ready(function(){
		$("button").hover(function(){
			$(this).css('cursor','pointer');
		});
	
		$("#_send_btn").click(function(){
			$(".warning").css("display", "none");
		
			var _from_address = $("#_from_address").val();
			var _content = $("#_content").val();
			
			//alert(_from_address + _content);
			if(_from_address == "") {
				//alert("Please enter your email address !");
				$(".email_warning_1").fadeIn(1000);
				return;
			} else if(_from_address.indexOf("@") == -1) {
				$(".email_warning_2").fadeIn(1000);
				return;
			} else if(_content.trim() == ""){
				$(".message_warning").fadeIn(1000);
				return;
			} else {
				$("button").css("display", "none");
				$("#_deliver_info").css("display", "block");
				$.ajax({
					url: "$!{viewUtil.getContextPath()}/p_send_email",
					type: "post",
					data: {fromAddress:_from_address, content:_content},
					dataType: "html",
					success:function(data){
						$("#_deliver_info").css("display", "none");
						$("#_success_info").css("display", "inline-block");
						$('#_success_info').delay(3000).fadeOut();
						//window.setTimeout('location.reload()', 2000);
						$("button").delay(3500).fadeIn();
						$("#_from_address").val("");
						$("#_content").val("");
					},
					error:function(){
						$("#_deliver_info").css("display", "none");
						$("#_fail_info").css("display", "inline-block");
						$('#_fail_info').delay(3000).hide(0);
						//window.setTimeout('location.reload()', 2000);
						$("button").delay(3500).fadeIn();
					}
				});
			}
		});	
	});
	
</script>
</html>

