<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->

#parse("web/common/head.vm")
<link rel="stylesheet" href="$!{viewUtil.getContextPath()}/static/css/superfish.css" type="text/css">
<script type="text/javascript" src="$!{viewUtil.getContextPath()}/static/js/superfish.js"></script>

<body>
	#parse("web/common/header.vm")
	<div style="width:960px;height:50px;margin:0 auto;position:relative;">
	    #parse("web/common/navi.vm")
	</div>
	<div class="currpath nav_color_theme">
		<span style="margin-left:18px;">
			You are here:&nbsp;
			<a href="$!{viewUtil.getContextPath()}/">Home</a> - 
			Contact Us
		</span>
	</div>
	<div class="pagebody">
		<div class="pageleft">
			<div id="pageleft_inner" class="pageleft_inner">
				<div id="slide" class="slide">
					<ul class="submenu">
						<li class="open last"><a href="$!{viewUtil.getContextPath()}/contact/">Contact Us</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="pageright">
			<div class="subpage_banner"><img src="$!{viewUtil.getContextPath()}/static/images/company_logo.jpg" border="0"/></div>
			<div class="pagemain">
				<ul class="title">Contact Information</ul>
				<div class="content">
					<p>
						<span style="line-height: 17px; font-size: 12px;">
							<span style="color: rgb(38, 38, 38); line-height: 30px; font-size: 14px; font-weight: bold;">
								Products & Services
							</span>
						</span>
						<br />
						<span style="line-height: 17px; font-size: 12px;">
							8888888888<br/>
							exebry@gmail.com
						</span>
						<br />
					<p>
					<p>
						<span style="line-height: 17px; font-size: 12px;">
							<span style="color: rgb(38, 38, 38); line-height: 30px; font-size: 14px; font-weight: bold;">
								Invest and Cooperation
							</span>
						</span>
						<br />
						<span style="line-height: 17px; font-size: 12px;">
							999999999<br/>
							exebry@gmail.com
						</span>
					<p>
					
				</div>
				<ul class="title">Message</ul>
				<div class="content">
					<form action="">
						<span>Your email:</span><input type="text" name="fromAddress" id="_from_address"style="color:#6e6e70; margin-left:30px; width:250px;"/>
						<div style="margin-top:10px; line-height:30px; vertical-align:top;">
							<span style="vertical-align:top;">Your message:</span>
							<textarea id="_content" style="margin-left:5px;margin-top:10px;width:439px;height:152px;color:#6e6e70;" ></textarea>
						</div>
						<button id="_send_btn" style="background-color:#2c9fe1; border:0px; color:#fff; margin-left:92px;margin-top:5px;">提交</button>
						<span id="_success_info" style="margin-left:10px;color:#2c9fe1; display:none;">Deliver Success !</span>
						<span id="_fail_info" style="margin-left:10px;color:red; display:none;">Deliver Failed. Please try again !</span>
					</form>
				</div>
			</div>
			
			
			<table class="featuredprojects_bottom">
				<tr>
					<td><a href="javascript:window.scrollTo(0,0)">TOP</a></td>
				</tr>
			</table>
			<div class="clear"></div>
		</div>
	</div>
	
	#parse("web/common/footer.vm")
	
</body>

<script type="text/javascript">
	jQuery(function(){
		jQuery('ul.sf-menu').superfish();
	});
	if(typeof(MenuMoveWithScroll)=="function"){
		window.setTimeout(MenuMoveWithScroll,1);
	}
	
	$(document).ready(function(){
		$("#_send_btn").click(function(){
			var _from_address = $("#_from_address").val();
			var _content = $("#_content").val();
			
			//alert(_from_address + _content);
			if(_from_address == "") {
				alert("Please enter your email address !");
			} else if(_content.trim() == ""){
				alert("{Please enter your message !");
			} else {
				$.ajax({
					url: "$!{viewUtil.getContextPath()}/p_send_email",
					type: "post",
					data: {fromAddress:_from_address, content:_content},
					dataType: "html",
					success:function(data){
						$("#_success_info").css("display", "inline-block");
						$('#_success_info').delay(3000).fadeOut();
					},
					error:function(){
						$("#_fail_info").css("display", "inline-block");
						$('#_fail_info').delay(3000).hide(0);
					}
				});
			}
		});	
	});
	
</script>
</html>

