<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->

#parse("web/common/head.vm")
<body>

	#parse("web/common/header.vm")
	<div style="width:960px;height:291px;margin:0 auto;position:relative;">
	    #parse("web/common/navi.vm")
		<!-- Banner Begin -->
		<!--<div id="index_banner" class="index_banner" style="position:absolute;top:56px;left:0;z-index:88;width:960px;height:251px;"></div>-->
		<div id="wrapper">
			<div class="slider-wrapper theme-default">
				<div id="slider" class="index_banner nivoSlider" style="position:absolute;top:56px;left:0;z-index:88;width:960px;height:350px;">
					<img src="$!{viewUtil.getContextPath()}/static/images/banner/index_20110729_04_en.jpg" data-thumb="$!{viewUtil.getContextPath()}/static/images/banner/index_20110729_04_en.jpg" alt="" />
		            <img src="$!{viewUtil.getContextPath()}/static/images/banner/index_20110729_05_en.jpg" data-thumb="$!{viewUtil.getContextPath()}/static/images/banner/index_20110729_05_en.jpg" alt=""/>
		            <img src="$!{viewUtil.getContextPath()}/static/images/banner/index_20110729_06_en.jpg" data-thumb="$!{viewUtil.getContextPath()}/static/images/banner/index_20110729_06_en.jpg" alt=""/>
		            <img src="$!{viewUtil.getContextPath()}/static/images/banner/index_20110729_07_en.jpg" data-thumb="$!{viewUtil.getContextPath()}/static/images/banner/index_20110729_07_en.jpg" alt=""/>
				</div>
			</div>
		</div>
		<!-- Banner End -->
	</div>
	
		
	<div class="index_content">
		<!-- Content News Begin -->
		<div class="index_news">
			<div class="index_content_title">
				<li onmouseover="ShowPopNav(this)" onmouseout="HidePopNav(this)" style="margin-bottom:0px;">
					<a href="$!{viewUtil.getContextPath()}/products" class="aWhite no_underline">
						<font style="font-size:18px;">News</font>
					</a>
				</li>
			</div>
			<ul>
				<li><a class="aWhite" href="$!{viewUtil.getContextPath()}/aentropi/company/news.php?action=disp&amp;newid=288" target="_blank">▶ JA Solar P-Type Mono-Si Solar Cells Surpass 20% Conversion Efficiency</a></li>
				<li><a class="aWhite" href="$!{viewUtil.getContextPath()}/aentropi/company/news.php?action=disp&amp;newid=287" target="_blank">▶ JA Solar to Supply 38.6 MW of Modules to Phoenix Solar for Georgia Solar Farm</a></li>
				<li><a class="aWhite" href="$!{viewUtil.getContextPath()}/aentropi/company/news.php?action=disp&amp;newid=285" target="_blank">▶ JA Solar Multi-Si Solar Cells Reach Record Efficiency Levels</a></li>
			</ul>
		</div>
		<!-- Content News End -->
	
		<!-- Content Product Begin -->
		<div class="index_products">
			<div class="index_content_title">
				<li onmouseover="ShowPopNav(this)" onmouseout="HidePopNav(this)">
					<a href="$!{viewUtil.getContextPath()}/products" class="aWhite no_underline">
						<font style="font-size:18px;">Products</font>
					</a>
				</li>
			</div>
			<table cellspacing="0" cellpadding="0" class="index_product_data">
				<tbody>
				<tr>
					<td class="pname"><a class="aWhite" href="/webroot/products">Cell</a></td>
					<td class="pdesc"><a class="aWhite" href="/webroot/products/">Mono Series</a> <br>  <!--<a class="aWhite" href="/webroot/products/" >Quasi-mono Series</a> <br/>--> <a class="aWhite" href="/webroot/products/">Poly Series</a></td>
				</tr>
				<tr>
					<td class="pname"><a class="aWhite" href="/webroot/products/modules.php">Module</a></td>
					<td class="pdesc"><a class="aWhite" href="/webroot/products/modules.php">Mono-Crystalline Silicon Module</a> <br> <a class="aWhite" href="/webroot/products/modules.php">Poly-Crystalline Silicon Module</a></td>
				</tr>
				<tr>
					<td class="pname"><a class="aWhite" href="/webroot/products/overview.php">PV System</a></td>
					<td class="pdesc"><a class="aWhite" href="/webroot/products/overview.php">Services</a> <br> <a class="aWhite" href="/webroot/products/overview.php">Cases</a></td>
				</tr>
				</tbody>
			</table>
		</div>
		<!-- Content Product End -->
		
		
		<!-- Content Cases Begin -->
		<div class="index_case"> 
			<div class="index_content_title">
				<li onmouseover="ShowPopNav(this)" onmouseout="HidePopNav(this)" style="line-height:18px; vertical-align:bottom;">
					<a href="$!{viewUtil.getContextPath()}/products/5" class="aWhite no_underline">
						<font style="font-size:18px;">Cases</font>
					</a>
					<a class="index_more" href="$!{viewUtil.getContextPath()}/products/5">
						<font style="font-size:13px; float:right;">...more</font>
					</a>
				</li>
			</div>
			<a href="$!{viewUtil.getContextPath()}/products/5"><img src= "$!{viewUtil.getContextPath()}/static/images/case_img.png"></a>
		</div>
		<!-- Content Cases End -->
		<div class="clear"></div>
	</div>
	<!-- Content End -->
	
	#parse("web/common/footer.vm")
</body>
	<script type="text/javascript">
	    $(window).load(function() {
	        $('#slider').nivoSlider();
	    });
    </script>

</html>
