<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->

#parse("web/common/head.vm")
<link rel="stylesheet" href="$!{viewUtil.getContextPath()}/static/css/superfish.css" type="text/css">
<script type="text/javascript" src="$!{viewUtil.getContextPath()}/static/js/superfish.js"></script>

<body>
	#parse("web/common/header.vm")
	<div style="width:960px;height:50px;margin:0 auto;position:relative;">
	    #parse("web/common/navi.vm")
	</div>
	<div class="currpath nav_color_theme">
		<span style="margin-left:18px;">
			You are here:&nbsp;
			<a href="$!{viewUtil.getContextPath()}/">Home</a> - 
			News
		</span>
	</div>
	<div class="pagebody">
		<div class="pageleft">
			<div id="pageleft_inner" class="pageleft_inner">
				<div id="slide" class="slide">
					<ul class="submenu">
						<li class=""><a href="$!{viewUtil.getContextPath()}/company/">About Us</a></li>
						<li class=""><a href="$!{viewUtil.getContextPath()}/products/">Products & Services</a></li>
						<li class="close"><a href="$!{viewUtil.getContextPath()}/news/">News</a></li>
						<li class="last"><a href="$!{viewUtil.getContextPath()}/contact/">Contact Us</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="pageright">
			<div class="pagemain">
				<ul class="title">News</ul>
				
				#foreach($el in $newsList)
					<div style="line-height: 17px; font-size: 12px; margin-top:12px; margin-left:15px;">
						<span style="color:#2c9fe1">$viewUtil.fPageTime($el.timestamp)</span>
						<span style="margin-left:10px;">
							<a target="_blank" href="$!{viewUtil.getContextPath()}/news/id=$el.id" style="color:#6e6e70">$el.title</a>
						</span>
					</div>
				#end
				<style>
					.pagination-centered {
						text-align: right;
						padding-right:30px;
					}
					.pagination {
						height:20px;
						margin:20px 0;
					}
					.pagination ul {
						display: inline-block;
						margin-bottom:0px;
						margin-left:0px;
						box-shadow:0 1px 2px rgba(0,0,0,0.05);
					}
					.pagination ul, ol {
						padding:0;
						margin: 0 0 10px 0px;
					}
					.pagination ul>li {
						display:inline;
						line-height:20px;
					}
					.pagination ul>li>a, .pagination ul>li>span {
						float:left;
						padding: 0 14px;
						line-height:20px;
						text-decoration:none;
						border: 1px solid #ddd;
					}
					
					.pagination select {
						vertical-align:top;
						width:60px;
						background-color :#fff;
						border: 1px solid #ccc;
						margin-bottom: 9px;
						height : 22px;
						color: #2c9fe1;
					}
				</style>
				
				
				<div class="pagination pagination-centered">
					<ul>
						#if ($prePageIndex == 0) 
							<li class="disabled"><a href="javascript:void(0)">PREV</a></li>
						#else
							<li><a href="$!{viewUtil.getContextPath()}/admin/article_list-${topCatId}-${subCatId}-${prePageIndex}" >PREV</a></li>
						#end
				    	#if ($pageIndex >= $pageCount)
					    	<li class="disabled"><a href="javascript:void(0)">NEXT</a></li>
				    	#else
				    		<li><a href="$!{viewUtil.getContextPath()}/admin/article_list-${topCatId}-${subCatId}-${nextPageIndex}">NEXT</a></li>
				    	#end
				    </ul>
					<select onchange="top.location=this.value;">
						#foreach($i in [1..$pageCount]) 
							#if ($i == $pageIndex)
								<option value="$!{viewUtil.getContextPath()}/admin/news/p=${i}" selected>$i</option>
							#else
								<option value="$!{viewUtil.getContextPath()}/admin/news/p=${i}">$i</option>
							#end
						#end
					</select>
				</div>
				<br />
			</div>
			<!--<table class="featuredprojects_bottom">
				<tr>
					<td><a href="javascript:window.scrollTo(0,0)">TOP</a></td>
				</tr>
			</table>--!>
			<div class="clear"></div>
		</div>
	</div>
	
	#parse("web/common/footer.vm")
	
</body>

<script type="text/javascript">
	jQuery(function(){
		jQuery('ul.sf-menu').superfish();
	});
	if(typeof(MenuMoveWithScroll)=="function"){
		window.setTimeout(MenuMoveWithScroll,1);
	}
</script>
</html>

