<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->

#parse("web/common/head.vm")
<link rel="stylesheet" href="$!{viewUtil.getContextPath()}/static/css/superfish.css" type="text/css">
<script type="text/javascript" src="$!{viewUtil.getContextPath()}/static/js/superfish.js"></script>

<body>
	#parse("web/common/header.vm")
	<div style="width:960px;height:50px;margin:0 auto;position:relative;">
	    #parse("web/common/navi.vm")
	</div>
	<div class="currpath nav_color_theme">
		<span style="margin-left:18px;">
			You are here:&nbsp;
			<a href="$!{viewUtil.getContextPath()}/">Home</a> - 
			<a href="$!{viewUtil.getContextPath()}/products">Products & Services</a>
		</span>
	</div>
	<div class="pagebody">
		<div class="pageleft">
			<div id="pageleft_inner" class="pageleft_inner">
				<div id="slide" class="slide">
					<ul class="submenu" id="side_menu">
						<li class="close" id="menu_1"><a href="javascript:void(0)">Solar Module</a></li>
						<li class="open" id="menu_2"><a href="javascript:void(0)" >System Solution</a></li>
						<li class="open" id="menu_3"><a href="javascript:void(0)">Off-grid</a></li>
						<li class="open" id="menu_4"><a href="javascript:void(0)">Download Center</a></li>
						<li class="open" id="menu_5"><a href="javascript:void(0)">Project Reference</a></li>
						<li class="open last id="menu_6""><a href="javascript:void(0)">Solar Basics</a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div>
		<div class="pageright" id="_about_1" style="display:block">
			<div class="pagemain">
				<span style="line-height: 20px; font-size: 15px; color:#2c9fe1;font-weight:bold;margin-left:15px">
					  Module Characteristics
				</span>
				<br /><br />
				
				<div class="content" style="text-align:Justify; text-justify:inter-ideograph; ">
					<span style="line-height: 17px; font-size: 12px;">
						<ul>
							<li><img src="$!{viewUtil.getContextPath()}/static/images/icon/li_dot.png" style="margin-right: 15px;"/>High module conversion efficiency up to 16.59% </li>
							<li><img src="$!{viewUtil.getContextPath()}/static/images/icon/li_dot.png" style="margin-right: 15px;"/>Positive Tolerance </li>
							<li><img src="$!{viewUtil.getContextPath()}/static/images/icon/li_dot.png" style="margin-right: 15px;"/>PID resistance </li>
							<li><img src="$!{viewUtil.getContextPath()}/static/images/icon/li_dot.png" style="margin-right: 15px;"/>Certificated to withstand extreme conditions  </li>
							<li><img src="$!{viewUtil.getContextPath()}/static/images/icon/li_dot.png" style="margin-right: 15px;"/>10 year workmanship guarantee and 25 year power output guarantee  </li>
							<li><img src="$!{viewUtil.getContextPath()}/static/images/icon/li_dot.png" style="margin-right: 15px;"/> Customized modules according to requirements  </li>
						</ul>
					</span>
					<br /><br />
						<div style="" class="content_splitter"></div>
					<br />
				</div>
				<span style="line-height: 17px; font-size: 12px; color:#2c9fe1;font-weight:bold; margin-left:15px;">
					 Monocrystalline Silicon Module
				</span>
				<br /><br />
		<div>
			<div  class="content" style="display:inline-block;" >
				<div class="subpage_banner" style="display:inline-block;">
					<img src="$!{viewUtil.getContextPath()}/static/images/product_02.jpg" border="0"/>
				</div>	
				<div style="display:inline-block; vertical-align:top; margin-top:20px;">		
					<span style="line-height: 17px; font-size: 12px; color:#2c9fe1;font-weight:bold;">
						Mono ATP220-270 Watt
					</span>
					<br /><br />
					
					<span style="line-height: 17px; font-size: 12px; ">
						Cell(mm): Mono 156x156 
					</span>
					<br />
					<span style="line-height: 17px; font-size: 12px; ">
						No.of cells: 60 (6×10)
					</span>
					<br /><br /><br />
					
					<div class="subpage_banner" style="display:inline-block; color:#989898">
						<span style="line-height: 17px; font-size: 12px; ">
							Datasheet
						</span>
						<span style="line-height: 17px; font-size: 12px; margin-left:15px">
							Warranty
						</span>
					</div>
				</div>
			</div>	
			<div  class="content" style="display:inline-block;" >
				<div class="subpage_banner" style="display:inline-block;">
					<img src="$!{viewUtil.getContextPath()}/static/images/product_03.jpg" border="0"/>
				</div>	
				<div style="display:inline-block; vertical-align:top; margin-top:20px;">		
					<span style="line-height: 17px; font-size: 12px; color:#2c9fe1;font-weight:bold;">
						Mono ATP255-320 Watt
					</span>
					<br /><br />
					
					<span style="line-height: 17px; font-size: 12px; ">
						Cell(mm): Mono 156x156 
					</span>
					<br />
					<span style="line-height: 17px; font-size: 12px; ">
						No.of cells: 72 (6×12)
					</span>
					<br /><br /><br />
					
					<div class="subpage_banner" style="display:inline-block; color:#989898">
						<span style="line-height: 17px; font-size: 12px; ">
							Datasheet
						</span>
						<span style="line-height: 17px; font-size: 12px; margin-left:15px">
							Warranty
						</span>
					</div>
				</div>
			</div>	
		</div>
				<span style="line-height: 17px; font-size: 12px; color:#2c9fe1;font-weight:bold; margin-left:15px;">
					Polycrystalline Silicon Module
				</span>
				<br /><br />
		<div>
			<div  class="content" style="display:inline-block;" >
				<div class="subpage_banner" style="display:inline-block;">
					<img src="$!{viewUtil.getContextPath()}/static/images/product_04.jpg" border="0"/>
				</div>	
				<div style="display:inline-block; vertical-align:top; margin-top:20px;">		
					<span style="line-height: 17px; font-size: 12px; color:#2c9fe1;font-weight:bold;">
						Poly ATP230-275 Watt 
					</span>
					<br /><br />
					
					<span style="line-height: 17px; font-size: 12px; ">
						Cell(mm): Poly 156x156 
					</span>
					<br />
					<span style="line-height: 17px; font-size: 12px; ">
						No.of cells: 60 (6×10)
					</span>
					<br /><br /><br />
					
					<div class="subpage_banner" style="display:inline-block; color:#989898">
						<span style="line-height: 17px; font-size: 12px; ">
							Datasheet
						</span>
						<span style="line-height: 17px; font-size: 12px; margin-left:15px">
							Warranty
						</span>
					</div>
				</div>
			</div>	
			<div  class="content" style="display:inline-block;" >
				<div class="subpage_banner" style="display:inline-block;">
					<img src="$!{viewUtil.getContextPath()}/static/images/product_05.jpg" border="0"/>
				</div>	
				<div style="display:inline-block; vertical-align:top; margin-top:20px;">		
					<span style="line-height: 17px; font-size: 12px; color:#2c9fe1;font-weight:bold;">
						Poly ATP275-335 Watt
					</span>
					<br /><br />
					
					<span style="line-height: 17px; font-size: 12px; ">
						Cell(mm): Mono 156x156 
					</span>
					<br />
					<span style="line-height: 17px; font-size: 12px; ">
						No.of cells: 72 (6×12)
					</span>
					<br /><br /><br />
					
					<div class="subpage_banner" style="display:inline-block; color:#989898">
						<span style="line-height: 17px; font-size: 12px; ">
							Datasheet
						</span>
						<span style="line-height: 17px; font-size: 12px; margin-left:15px">
							Warranty
						</span>
					</div>
				</div>
			</div>
			<div style="margin-left:25px" class="content_splitter"></div>
			<br /><br />
		</div>
	</div>
			
</div>
		
		
		
<!--==============================about 2=======================================-->		
		<div class="pageright" id="_about_2" style="display:none">
			<div class="pagemain">
				<ul class="title">Services</ul>
				<div class="content" style="text-align:Justify; text-justify:inter-ideograph;">
					<span style="line-height: 17px; font-size: 12px;">
						With a team of professional experts, we provide our clients with PV system project 
						design and installation guide services, including pre-planning, program selection, 
						feasibility studies, engineering design, equipment procurement, which could realize the 
						customized solar energy solution accessible for each and every of our clients.
					</span>
					<br/>
					<br/>
					<div class="subpage_banner">
						<img src="$!{viewUtil.getContextPath()}/static/images/system_solution.jpg" border="0"/>
					</div>
				</div>
				<ul class="title" style="font-size:15px; margin:0px 10px 10px 15px; height:15px; font-weight: bold;">Early Research</ul>
				<div class="content" style="text-align:Justify; text-justify:inter-ideograph; padding:0 20px 0 16px;">
					<span style="line-height: 17px; font-size: 12px;">
						<ul>
							<li><img src="$!{viewUtil.getContextPath()}/static/images/icon/li_dot.png" style="margin-right: 15px;"/>Project Location</li>
							<li><img src="$!{viewUtil.getContextPath()}/static/images/icon/li_dot.png" style="margin-right: 15px;"/>Installation area</li>
							<li><img src="$!{viewUtil.getContextPath()}/static/images/icon/li_dot.png" style="margin-right: 15px;"/>Transformer capacity / the ability to send power</li>
							<li><img src="$!{viewUtil.getContextPath()}/static/images/icon/li_dot.png" style="margin-right: 15px;"/>Capital and the rough size</li>
						</ul>
					</span>
					<br/>
				</div>
				<ul class="title" style="font-size:15px; margin:0px 10px 10px 15px; height:15px; font-weight: bold;">Project Proposals</ul>
				<div class="content" style="text-align:Justify; text-justify:inter-ideograph; padding:0 20px 0 16px;">
					<span style="line-height: 17px; font-size: 12px;">
						<ul>
							<li><img src="$!{viewUtil.getContextPath()}/static/images/icon/li_dot.png" style="margin-right: 15px;"/>Project background and necessity</li>
							<li><img src="$!{viewUtil.getContextPath()}/static/images/icon/li_dot.png" style="margin-right: 15px;"/>Situation at home and abroad</li>
							<li><img src="$!{viewUtil.getContextPath()}/static/images/icon/li_dot.png" style="margin-right: 15px;"/>System configuration</li>
							<li><img src="$!{viewUtil.getContextPath()}/static/images/icon/li_dot.png" style="margin-right: 15px;"/>Method of being connected to grid</li>
							<li><img src="$!{viewUtil.getContextPath()}/static/images/icon/li_dot.png" style="margin-right: 15px;"/>Installation and commissioning solution</li>
							<li><img src="$!{viewUtil.getContextPath()}/static/images/icon/li_dot.png" style="margin-right: 15px;"/>Budgetary estimates</li>
							<li><img src="$!{viewUtil.getContextPath()}/static/images/icon/li_dot.png" style="margin-right: 15px;"/>Measurement of capacity</li>
							<li><img src="$!{viewUtil.getContextPath()}/static/images/icon/li_dot.png" style="margin-right: 15px;"/>Financial analysis</li>
						</ul>
					</span>
					<br/>
				</div>
				<ul class="title" style="font-size:15px; margin:0px 10px 10px 15px; height:15px; font-weight: bold;">Engineering Design</ul>
				<div class="content" style="text-align:Justify; text-justify:inter-ideograph; padding:0 20px 0 16px;">
					<span style="line-height: 17px; font-size: 12px;">
						<ul>
							<li><img src="$!{viewUtil.getContextPath()}/static/images/icon/li_dot.png" style="margin-right: 15px;"/>Solar module selection</li>
							<li><img src="$!{viewUtil.getContextPath()}/static/images/icon/li_dot.png" style="margin-right: 15px;"/>The selection of electrical equipment</li>
							<li><img src="$!{viewUtil.getContextPath()}/static/images/icon/li_dot.png" style="margin-right: 15px;"/>Monitoring and communication system design</li>
							<li><img src="$!{viewUtil.getContextPath()}/static/images/icon/li_dot.png" style="margin-right: 15px;"/>BIPV designDesign of capital construction</li>
							<li><img src="$!{viewUtil.getContextPath()}/static/images/icon/li_dot.png" style="margin-right: 15px;"/>Design of capital construction</li>
							<li><img src="$!{viewUtil.getContextPath()}/static/images/icon/li_dot.png" style="margin-right: 15px;"/>Design of power grid access system</li>
						</ul>
					</span>
					<br/>
				</div>
				<ul class="title" style="font-size:15px; margin:0px 10px 10px 15px; height:15px; font-weight: bold;">Engineering Management</ul>
				<div class="content" style="text-align:Justify; text-justify:inter-ideograph; padding:0 20px 0 16px;">
					<span style="line-height: 17px; font-size: 12px;">
						<ul>
							<li><img src="$!{viewUtil.getContextPath()}/static/images/icon/li_dot.png" style="margin-right: 15px;"/>Supervising the project according to the relevant standards and requirements of drawings</li>
							<li><img src="$!{viewUtil.getContextPath()}/static/images/icon/li_dot.png" style="margin-right: 15px;"/>Management of safety, quality and schedule on the construction site</li>
							<li><img src="$!{viewUtil.getContextPath()}/static/images/icon/li_dot.png" style="margin-right: 15px;"/>Making equipment and materials plans</li>
							<li><img src="$!{viewUtil.getContextPath()}/static/images/icon/li_dot.png" style="margin-right: 15px;"/>Procurement of the equipment and materials according to design and customer requirements</li>
							<li><img src="$!{viewUtil.getContextPath()}/static/images/icon/li_dot.png" style="margin-right: 15px;"/>Preparation of various material of report for approval and construction</li>
						</ul>
						<br/>
					</span>
				</div>
			</div>
			<table class="featuredprojects_bottom">
				<tbody>
				<tr>
					<td><a href="javascript:window.scrollTo(0,0)">TOP</a></td>
				</tr>
			</tbody>
			</table>
		</div>
		
		
<!--==============================about 3=======================================-->			
		<div class="pageright" id="_about_3" style="display:none">
			
			<div class="pagemain">
				<ul class="title">Off-grid</ul>
				<div class="content" style="text-align:Justify; text-justify:inter-ideograph; ">
					<span style="line-height: 17px; font-size: 12px;">
						“As one of their distributors, we have installed over 800 kilowatts of AENTROPI solar panels in South American region. We are extremely pleased with the quality of their service and products. Packaging, performance, and appearance of their products are unsurpassed by any of our other vendors.”
					</span>
					<br />
					<div>
						<span style="line-height: 17px; font-size: 12px; color:#2c9fe1; float:right;">
							- Robert, Brazil
						</span>
					</div>
					
					<br /><br /><br /><br />
					
					<span style="line-height: 17px; font-size: 12px;">
						“AENTROPI team is very helpful and supportive. I once asked AENTROPI to help me for my own roof top solution, and they responded me the very next day with the complete design. At that time I have little knowledge about photovoltaic, I gained a lot during the talk with AENTROPI engineer. Now, cooperated with AENTROPI team, I am working as an EPC to develop Japanese solar projects.” 
						
					</span>
					<br />
					<div>
						<span style="line-height: 17px; font-size: 12px; color:#2c9fe1; float:right;">
							- S. Nakamura, Japan
						</span>
					</div>
					<br /><br /><br /><br />
					
					<span style="line-height: 17px; font-size: 12px;">
						“AENTROPI is professional in every aspect. Working with them is a fantastic experience. They provide plenty of complete solutions to choose from for different cases, and the price of their products is accessible.” 
						
					</span>
					<br />
					<div>
						<span style="line-height: 17px; font-size: 12px; color:#2c9fe1; float:right;">
							– Louis, UK
						</span>
					</div>
				</div>
			</div>
			
			<div class="clear"></div>
		</div>
		
		
<!--==============================about 4=======================================-->		
		<div class="pageright" id="_about_4" style="display:none">
			<div class="pagemain">
				<ul class="title">Download Center</ul>
				<div class="content" style="text-align:Justify; text-justify:inter-ideograph;">
					<span style="line-height: 17px; font-size: 12px; color:#2c9fe1;">
						We are proud of our dedicated employees and team culture. We work as a global family to deliver affordable solar for all.
						AENTROPI appreciates innovation, rewards dedication, and encourages continuous learning. Join us today.
					</span>
					
					<br /><br />
					
					<div class="subpage_banner">
						<img src="$!{viewUtil.getContextPath()}/static/images/about04.jpg" border="0"/>
					</div>
					
					<br /><br />
					
					<span style="line-height: 17px; font-size: 12px;">
						<span style="color:#2c9fe1; line-height: 30px; font-size: 14px; font-weight: bold;">
							Positions:
						</span>
					</span>
					<br />
					<span style="line-height: 17px; font-size: 12px;">
						<span style="color: rgb(38, 38, 38); line-height: 30px; font-size: 14px; font-weight: bold;">
							Asia Pacific Region
						</span>
					</span>
					<br />
					<span style="line-height: 17px; font-size: 12px;">
						Title: Senior Quality Control Manager
					</span>
					<br />
					<span style="line-height: 17px; font-size: 12px;">
						Location: Nanjing, China
					</span>
					
					<br /><br />
					
					<span style="line-height: 17px; font-size: 12px;">
						Title: Project Engineer
					</span>
					<br />
					<span style="line-height: 17px; font-size: 12px;">
						Location: Nanjing
					</span>
					
					<br /><br />
					
					<span style="line-height: 17px; font-size: 12px;">
						<span style="color: rgb(38, 38, 38); line-height: 30px; font-size: 14px; font-weight: bold;">
							Europe
						</span>
					</span>
					<br />
					<span style="line-height: 17px; font-size: 12px;">
						Title: Customer Service Engineer
					</span>
					<br />
					<span style="line-height: 17px; font-size: 12px;">
						Location: London, United Kingdom
					</span>
					
					<br /><br />
					
					<span style="line-height: 17px; font-size: 12px; color:#2c9fe1">
					Apply here: HR@aentropi-power.com
					</span>
					<br />
				</div>
			</div>
			
			<div class="clear"></div>
		</div>
		
		
<!--==============================about 5=======================================-->		
		<div class="pageright" id="_about_5" style="display:none">
			<div class="pagemain">
				<ul class="title">Worldwide Project Reference Since 2010</ul>
				<div class="content" style="text-align:Justify; text-justify:inter-ideograph;">
					<span style="line-height: 17px; font-size: 12px;">
						Since the establishment, AENTROPI has actively expanded worldwide business with PV system projects 
						in Europe, South America, Japan, China, etc. Based on the world first-class processing technology and 
						equipments, advanced management and high quality professional talents, excellent product quality and 
						service guarantee, our company has set up good brand reputation and obtained stable market share.
					</span>
					
					<br /><br />
					<div style="" class="content_splitter"></div>
					<br /><br />
					
					<table class="project_page" id="_project_page_1">
						<tbody>
							<tr>
								<td width="360" >
									<img src="$!{viewUtil.getContextPath()}/static/images/project/01.jpg" style="height:100px;weight:130px;"/>
									<div style="display:inline-block; vertical-align:top; font-style:italic; padding-left:10px;">
										<div style="margin: 5px 0 10px 0;">Location: Trebnje,Slovenia</div>
										<div style="margin: 10px 0px;">Capacity: 15KW</div>
										<div style="margin: 10px 0px;">Product type: ATP-250P</div>
										<div style="margin: 10px 0 5px 0;">Completion: November 2010</div>
									</div>
								</td>
								<td>
									<img src="$!{viewUtil.getContextPath()}/static/images/project/02.jpg" style="height:100px;weight:130px; " />
									<div style="display:inline-block; vertical-align:top; font-style:italic; padding-left:10px;">
										<div style="margin: 5px 0 10px 0;">Location: Heusden-Zolder, Belgium</div>
										<div style="margin: 10px 0px;">Capacity: 817 KW</div>
										<div style="margin: 10px 0px;">Product type: ATP-230P</div>
										<div style="margin: 10px 0 5px 0;">Completion: January 2011</div>
									</div>
								</td>
							</tr>
							<tr height="140">
								<td >
									<img src="$!{viewUtil.getContextPath()}/static/images/project/03.jpg" style="height:100px;weight:130px; "/>
									<div style="display:inline-block; vertical-align:top; font-style:italic; padding-left:10px; ">
										<div style="margin: 5px 0 10px 0;">Location: Varde Gymnasium, Denmark</div>
										<div style="margin: 10px 0px;">Capacity: 4.140KW</div>
										<div style="margin: 10px 0px;">Product Type: ATP-230P Black</div>
										<div style="margin: 10px 0 5px 0;">Completion: August 2011</div>
									</div>
								</td>
								<td>
									<img src="$!{viewUtil.getContextPath()}/static/images/project/04.jpg" style="height:100px;weight:130px;" />
									<div style="display:inline-block; vertical-align:top; font-style:italic; padding-left:10px;">
										<div style="margin: 5px 0 10px 0;">Location: Cupertino, United States</div>
										<div style="margin: 10px 0px;">Capacity: 5KW</div>
										<div style="margin: 10px 0px;">Product type: ATP-230P</div>
										<div style="margin: 10px 0 5px 0;">Completion: September 2011</div>
									</div>
								</td>
							</tr>
							<tr height="100">
								<td >
									<img src="$!{viewUtil.getContextPath()}/static/images/project/05.jpg" style="height:100px;weight:130px;"/>
									<div style="display:inline-block; vertical-align:top; font-style:italic; padding-left:10px;">
										<div style="margin: 5px 0 10px 0;">Location: Loods Lobberich, Holland</div>
										<div style="margin: 10px 0px;">Capacity: 37.30KW</div>
										<div style="margin: 10px 0px;">Product type: ATP-230P</div>
										<div style="margin: 10px 0 5px 0;">Completion: June 2011</div>
									</div>
								</td>
								<td>
									<img src="$!{viewUtil.getContextPath()}/static/images/project/06.jpg" style="height:100px;weight:130px;" />
									<div style="display:inline-block; vertical-align:top; font-style:italic; padding-left:10px;">
										<div style="margin: 5px 0 10px 0;">Location: Heusden-Zolder, Belgium</div>
										<div style="margin: 10px 0px;">Capacity: 3.5MW</div>
										<div style="margin: 10px 0px;">Product type: ATP-230P</div>
										<div style="margin: 10px 0 5px 0;">Completion: June 2011</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					
					
					<table class="project_page" id="_project_page_2"  style="display:none">
						<tbody >
							<tr>
								<td width="360" >
									<img src="$!{viewUtil.getContextPath()}/static/images/project/07.jpg" style="height:100px;weight:130px;"/>
									<div style="display:inline-block; vertical-align:top; font-style:italic; padding-left:10px;">
										<div style="margin: 5px 0 10px 0;">Location: Ascoli Piceno, Italy</div>
										<div style="margin: 10px 0px;">Capacity: 7KW</div>
										<div style="margin: 10px 0px;">Product type: ATP-230P</div>
										<div style="margin: 10px 0 5px 0;">Completion: July 2011</div>
									</div>
								</td>
								<td width="380">
									<img src="$!{viewUtil.getContextPath()}/static/images/project/08.jpg" style="height:100px;weight:130px; " />
									<div style="display:inline-block; vertical-align:top; font-style:italic; padding-left:10px;">
										<div style="margin: 5px 0 10px 0;">Location:Fougerolles du Plessis, France</div>
										<div style="margin: 10px 0px;">Capacity: 2.78MW</div>
										<div style="margin: 10px 0px;">Product type: ATP-230P</div>
										<div style="margin: 10px 0 5px 0;">Completion: February 2012</div>
									</div>
								</td>
							</tr>
							<tr height="140">
								<td >
									<img src="$!{viewUtil.getContextPath()}/static/images/project/09.jpg" style="height:100px;weight:130px; "/>
									<div style="display:inline-block; vertical-align:top; font-style:italic; padding-left:10px; ">
										<span>
											<div style="margin: 5px 0 10px 0;">Location: Floressas, France</div>
											<div style="margin: 10px 0px;">Capacity: 135KW</div>
											<div style="margin: 10px 0px;">Product type: ATP-190P</div>
											<div style="margin: 10px 0 5px 0;">Completion: February 2012</div>
										</span>
									</div>
								</td>
								<td>
									<img src="$!{viewUtil.getContextPath()}/static/images/project/10.jpg" style="height:100px;weight:130px;" />
									<div style="display:inline-block; vertical-align:top; font-style:italic; padding-left:10px;">
										<span>
										<div style="margin: 5px 0 10px 0;">Location: San Jose, Costa Rica</div>
										<div style="margin: 10px 0px;">Capacity: 500KW</div>
										<div style="margin: 10px 0px;">Product type: ATP-230P</div>
										<div style="margin: 10px 0 5px 0;">Completion: August 2012</div>
										</span>
									</div>
								</td>
							</tr>
							<tr height="100">
								<td >
									<img src="$!{viewUtil.getContextPath()}/static/images/project/11.jpg" style="height:100px;weight:130px;"/>
									<div style="display:inline-block; vertical-align:top; font-style:italic; padding-left:10px;">
										<div style="margin: 5px 0 10px 0;">Project: Loods Lobberich, Holland </div>
										<div style="margin: 10px 0px;">Capacity: 37.30 KW</div>
										<div style="margin: 10px 0px;">Product type: ATP-230P</div>
										<div style="margin: 10px 0 5px 0;">Completion: October 2012</div>
									</div>
								</td>
								<td>
									<img src="$!{viewUtil.getContextPath()}/static/images/project/12.jpg" style="height:100px;weight:130px;" />
									<div style="display:inline-block; vertical-align:top; font-style:italic; padding-left:10px;">
										<div style="margin: 5px 0 10px 0;">Location: Kawazoe Power Farm, Japan</div>
										<div style="margin: 10px 0px;">Capacity: 1.2MW</div>
										<div style="margin: 10px 0px;">Product type: ATP-300M</div>
										<div style="margin: 10px 0 5px 0;">Completion: October 2012</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					
					<table class="project_page" id="_project_page_3" style="display:none">
						<tbody >
							<tr>
								<td width="360" >
									<img src="$!{viewUtil.getContextPath()}/static/images/project/13.jpg" style="height:100px;weight:130px;"/>
									<div style="display:inline-block; vertical-align:top; font-style:italic; padding-left:10px;">
										<div style="margin: 5px 0 10px 0;">Location: Van Kempen  Netherland</div>
										<div style="margin: 10px 0px;">Capacity: 100 KW</div>
										<div style="margin: 10px 0px;">Product type: ATP-275P</div>
										<div style="margin: 10px 0 5px 0;">Completion: March 2013</div>
									</div>
								</td>
								<td>
									<img src="$!{viewUtil.getContextPath()}/static/images/project/14.jpg" style="height:100px;weight:130px; " />
									<div style="display:inline-block; vertical-align:top; font-style:italic; padding-left:10px;">
										<div style="margin: 5px 0 10px 0;">Location: Trebnje, Slovenia</div>
										<div style="margin: 10px 0px;">Capacity: 2.5MW</div>
										<div style="margin: 10px 0px;">Product type: ATP-230P</div>
										<div style="margin: 10px 0 5px 0;">Completion: June 2013</div>
									</div>
								</td>
							</tr>
							<tr height="140">
								<td >
									<img src="$!{viewUtil.getContextPath()}/static/images/project/15.jpg" style="height:100px;weight:130px; "/>
									<div style="display:inline-block; vertical-align:top; font-style:italic; padding-left:10px; ">
										<span>
											<div style="margin: 5px 0 10px 0;">Location: Yancheng, China</div>
											<div style="margin: 10px 0px;">Capacity: 2MW</div>
											<div style="margin: 10px 0px;">Product type: ATP-230P</div>
											<div style="margin: 10px 0 5px 0;">Completion: September 2013</div>
										</span>
									</div>
								</td>
								<td>
									<img src="$!{viewUtil.getContextPath()}/static/images/project/16.jpg" style="height:100px;weight:130px;" />
									<div style="display:inline-block; vertical-align:top; font-style:italic; padding-left:10px;">
										<span>
										<div style="margin: 5px 0 10px 0;">Location: Nishiki, Japan</div>
										<div style="margin: 10px 0px;">Capacity: 2.18MW</div>
										<div style="margin: 10px 0px;">Product type: ATP-300P</div>
										<div style="margin: 10px 0 5px 0;">Completion: September 2013</div>
										</span>
									</div>
								</td>
							</tr>
							<tr height="100">
								<td >
									<img src="$!{viewUtil.getContextPath()}/static/images/project/17.jpg" style="height:100px;weight:130px;"/>
									<div style="display:inline-block; vertical-align:top; font-style:italic; padding-left:10px;">
										<span>
											<div style="margin: 5px 0 10px 0;">Location: Ishioka, Ibaraki, Japan</div>
											<div style="margin: 10px 0px;">System Size: 49KW</div>
											<div style="margin: 10px 0px;">Product type: ATP-300M</div>
											<div style="margin: 10px 0 5px 0;">Completion: March 2014</div>
										</span>
									</div>
								</td>
								<td>
									<img src="$!{viewUtil.getContextPath()}/static/images/project/18.jpg" style="height:100px;weight:130px;" />
									<div style="display:inline-block; vertical-align:top; font-style:italic; padding-left:10px;">
										<span>
										<div style="margin: 5px 0 10px 0;">Location: Trebnje, Slovenia</div>
										<div style="margin: 10px 0px;">Capacity: 15KW</div>
										<div style="margin: 10px 0px;">Product type: ATP-250M</div>
										<div style="margin: 10px 0 5px 0;">Completion: July 2014</div>
										</span>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					
					
					
					<br/></br>
					<div style="" class="content_splitter"></div>
					
					<span style="line-height: 17px; font-size: 12px; float:right;" id="_project_pagenumbers">
						<span style="line-height: 30px; font-size: 14px; font-weight:bold;margin: 0 5px;">
							<a href="javascript:void(0)" id="btn_1" style="color:#2c9fe1; text-decoration:underline;">1</a>
						</span>
						<span style="line-height: 30px; font-size: 14px; font-weight:bold;margin: 0 5px;">
							<a href="javascript:void(0)" id="btn_2" style="color:#6e6e70">2</a>
						</span>
						<span style="line-height: 30px; font-size: 14px; font-weight:bold;margin: 0 5px;">
							<a href="javascript:void(0)" id="btn_3" style="color:#6e6e70">3</a>
						</span>
					</span>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		
<!--==============================about 6=======================================-->		
		<div class="pageright" id="_about_6" style="display:none">
			<div class="pagemain">
				<ul class="title">Solar Basics</ul>
				<div class="content" style="text-align:Justify; text-justify:inter-ideograph;">
					<span style="line-height: 17px; font-size: 12px;">
						<span style="color: #2c9fe1; line-height: 30px; font-size: 14px; font-weight: bold;">
							<img src="$!{viewUtil.getContextPath()}/static/images/icon/li_dot.png" style="margin-right: 15px;"/>Solar Energy
						</span>
					</span>
					<br />
					<span style="line-height: 17px; font-size: 12px;">
						Solar energy technologies include solar heating, solar photovoltaics, solar thermal electricity and solar architecture, which can make considerable contributions to solving some of the most urgent problems the world now faces.
					</span>
					<br /><br />
					
					<span style="line-height: 17px; font-size: 12px;">
						<span style="color:#2c9fe1; line-height: 30px; font-size: 14px; font-weight: bold;">
							<img src="$!{viewUtil.getContextPath()}/static/images/icon/li_dot.png" style="margin-right: 15px;"/>Photovoltaics
						</span>
					</span>
					<br />
					<span style="line-height: 17px; font-size: 12px;">
						PV is a method of generating electrical power by converting solar radiation into direct current electricity using semiconductors that exhibit the photovoltaic effect. Photovoltaic power generation employs solar panels composed of a number of solar cells containing a photovoltaic material. Materials presently used for photovoltaics include monocrystalline silicon, polycrystalline silicon, amorphous silicon, cadmium telluride, and copper indium gallium selenide/sulfide.
					</span>
					<br /><br />
					
					<span style="line-height: 17px; font-size: 12px;">
						<span style="color:#2c9fe1; line-height: 30px; font-size: 14px; font-weight: bold;">
							<img src="$!{viewUtil.getContextPath()}/static/images/icon/li_dot.png" style="margin-right: 15px;"/>Solar Cells
						</span>
					</span>
					<br />
					<span style="line-height: 17px; font-size: 12px;">
						A solar cell (also called photovoltaic cell or photoelectric cell) is a solid state electrical device that converts the energy of light directly into electricity by the photovoltaic effect. Assemblies of solar cells are used to make solar modules which are used to capture energy from sunlight. The two main types of solar cells currently in the market are crystalline silicone and thin film, and Renogy only distributes crystalline silicone solar products.
					</span>
					<br /><br />
					
					<span style="line-height: 17px; font-size: 12px;">
						<span style="color:#2c9fe1; line-height: 30px; font-size: 14px; font-weight: bold;">
							<img src="$!{viewUtil.getContextPath()}/static/images/icon/li_dot.png" style="margin-right: 15px;"/>Solar Panels/Solar Modules						
						</span>
					</span>
					<br />
					<span style="line-height: 17px; font-size: 12px;">
						A solar panel (also referred to as a solar module) is a packaged, connected assembly of photovoltaic cells. The solar panel can be used as a component of a larger photovoltaic system to generate and supply electricity in commercial and residential applications. Each panel is rated by its DC output power under standard test conditions, and typically ranges from 100 to 450 watts. The efficiency of a panel determines the area of a panel given the same rated output – an 8% efficient 230 watt panel will have twice the area of a 16% efficient 230 watt panel.
					</span>
					<br /><br />
					
					<span style="line-height: 17px; font-size: 12px;">
						<span style="color:#2c9fe1; line-height: 30px; font-size: 14px; font-weight: bold;">
							<img src="$!{viewUtil.getContextPath()}/static/images/icon/li_dot.png" style="margin-right: 15px;"/>Balance of Systems	
						</span>
					</span>
					<br />
					<span style="line-height: 17px; font-size: 12px;">
						The balance of system or “BOS” encompasses all components of a photovoltaic system other than the solar PV panels. This includes wiring, switches, support racks, an inverter, and batteries in the case of off-grid systems. In the case of free-standing systems, land is sometimes included as part of the BOS.
					</span>
					<br /><br />
					
					<span style="line-height: 17px; font-size: 12px;">
						<span style="color:#2c9fe1; line-height: 30px; font-size: 14px; font-weight: bold;">
							<img src="$!{viewUtil.getContextPath()}/static/images/icon/li_dot.png" style="margin-right: 15px;"/>Inverter	
						</span>
					</span>
					<br />
					<span style="line-height: 17px; font-size: 12px;">
						A power inverter, or inverter, is an electrical device that changes direct current (DC) to alternating current (AC); the converted AC can be at any required voltage and frequency with the use of appropriate transformers, switching, and control circuits.
					<span/>
					<br /><br />
				
				</div>
			</div>
		</div>
<!-- ===============================end of 6 divs =========================================-->		
		</div>
	</div>
	
	#parse("web/common/footer.vm")
	
</body>

<script type="text/javascript">
	
	// 无刷新改变url状态
	function changeURL(id){
		window.history.pushState({},0,'http://'+window.location.host+'/products/'+ id);		
	}
		

	jQuery(function(){
		jQuery('ul.sf-menu').superfish();
	});
	if(typeof(MenuMoveWithScroll)=="function"){
		window.setTimeout(MenuMoveWithScroll,1);
	}
	
	
	$(document).ready(function(){
		
		if($!{sectionId} != 0) {
			var sectionId = $!{sectionId};
			var _div_id = "#_about_" + sectionId;
			$(_div_id).siblings().css("display", "none");
			$(_div_id).css("display", "block");
			$("#menu_"+sectionId).siblings().removeClass();
			$("#menu_"+sectionId).addClass("close");
		}
	
		$("#side_menu li").click(function(){
			$(".submenu li").removeClass();
			$(this).addClass("close");
		
			var _id = parseInt($(this).index());
			var _div_id = "#_about_" + (_id + 1);
			$(_div_id).siblings().css("display", "none");
			$(_div_id).fadeIn(500);
			//alert(_div_id);
			
			changeURL(_id+1);
		});
		
		
		$("#_project_pagenumbers span a").click(function(){
			$(this).css("color", "#2c9fe1");
			$(this).css("text-decoration", "underline");
			
			$(this).parent().siblings().find("a").css("color", "#6e6e70");
			$(this).parent().siblings().find("a").css("text-decoration", "none");
			
			var pageNumberBtn_id = $(this).attr("id");
			var page_id = "#_project_page_" + parseInt(pageNumberBtn_id.substring(pageNumberBtn_id.lastIndexOf("_")+1));
			$(page_id).siblings("table").css("display", "none");
			$(page_id).fadeIn(500);
		});
	});
	
</script>
</html>

