<div class="footer">
	<hr></hr>
	<div class="copyright">Copyright © 2014 AENTROPI Ltd. All rights reserved. </div>
	<div class="head_tools">
		<form action="/webroot/search.php" method="post"> 
			<div style="float:right;">
				<span class="lang" onmouseover="showlang()" onmouseout="HideLang()">▶ language</span>
			</div>
			<div id="langdiv" style="float:right;; display:none" onmouseout="HideLang()" onmouseover="clearHide()">
				<ul>
					<li><a href="/">ENGLISH</a></li>
					<li><a href="/JP">日本語</a></li>
				</ul>
			</div>
		</form>
		<div class="clear"></div>
	</div>
</div>