.sf-menu {
	list-style: none; margin: 0px; padding: 0px;
}
.sf-menu * {
	list-style: none; margin: 0px; padding: 0px;
}
.sf-menu {
	line-height: 1;
}
.sf-menu ul {
	top: -999em; width: 15em; position: absolute; margin-top:11px;
}
.sf-menu ul ul {
	margin:0px;
	}
.sf-menu ul li {
	width: 100%;
}
.sf-menu li:hover {
	visibility: inherit;
}
.sf-menu li {
	float: left; position: relative;
}
.sf-menu a {
	display: block; position: relative;
}
.sf-menu li:hover ul {
	left: 0px; top: 2.5em; z-index: 99;
}
.sf-menu li.sfHover ul {
	left: 0px; top: 2.5em; z-index: 99;
}
ul.sf-menu li:hover li ul {
	top: -999em;
}
ul.sf-menu li.sfHover li ul {
	top: -999em;
}
ul.sf-menu li li:hover ul {
	left: 15em; top: 0px;
}
ul.sf-menu li li.sfHover ul {
	left: 15em; top: 0px;
}
ul.sf-menu li li:hover li ul {
	top: -999em;
}
ul.sf-menu li li.sfHover li ul {
	top: -999em;
}
ul.sf-menu li li li:hover ul {
	left: 10em; top: 0px;
}
ul.sf-menu li li li.sfHover ul {
	left: 10em; top: 0px;
}
.sf-menu {
	margin-bottom: 1em; float: left;
}
.sf-menu a {
	padding: 0.75em 1em; text-decoration: none;
}

.sf-menu a {
	color: rgb(255, 255, 255);text-decoration: none;
}
.sf-menu li a.toplink{color:#fff;}
.sf-menu a:hover {
	color: rgb(244, 126, 30);text-decoration: none;
}
.sf-menu li li a {
	color: rgb(143, 142, 140);border-top-color: rgb(230, 229, 234);border-top-width: 1px; border-top-style: solid;text-decoration: none; 
}
.sf-menu li li {
	background: rgb(255, 255, 255);
}
.sf-menu li li a:hover {
	background: rgb(37, 37, 99);filter:alpha(opacity=100);text-decoration: none;
}
.sf-menu li li li {
	background: rgb(255, 255, 255);
}
.sf-menu a.sf-with-ul {
	padding-right: 2.25em; min-width: 1px;
}
.sf-sub-indicator {
	background: url("/images/arrows-ffffff.gif") no-repeat -20px -200px;top: 1.05em; width: 10px; height: 10px; right: 0.75em; text-indent: -999em; overflow: hidden; display: block; position: absolute;
}
a > .sf-sub-indicator {
	background-position: 10px -200px; top: 0.8em;
}
a:focus > .sf-sub-indicator {
	background-position: -10px -200px;
}
a:hover > .sf-sub-indicator {
	background-position: -10px -200px;
}
a:active > .sf-sub-indicator {
	background-position: -10px -200px;
}
li:hover > a > .sf-sub-indicator {
	background-position: -10px -200px;
}
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -200px;
}
.sf-menu ul .sf-sub-indicator {
	background-position: 0px 0px;
}
.sf-menu ul a > .sf-sub-indicator {
	
}
.sf-menu ul a:focus > .sf-sub-indicator {
	background-position: -10px 0px;
}
.sf-menu ul a:hover > .sf-sub-indicator {
	background-position: -10px 0px;
}
.sf-menu ul a:active > .sf-sub-indicator {
	background-position: -10px 0px;
}
.sf-menu ul li:hover > a > .sf-sub-indicator {
	background-position: -10px 0px;
}
.sf-menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0px;
}
.sf-shadow ul {
	background: url("/images/shadow.png") no-repeat right bottom; padding: 0px 8px 9px 0px; -moz-border-radius-bottomleft: 17px; -moz-border-radius-topright: 17px; -webkit-border-top-right-radius: 17px; -webkit-border-bottom-left-radius: 17px;
}
.sf-shadow ul.sf-shadow-off {

	
}

.sf-menu-color-1 a:hover,.sf-menu-color-1 a:active,.sf-menu-color-1 a.toplink:hover{color:#F7941D}
.sf-menu-color-2 a:hover,.sf-menu-color-2 a:active,.sf-menu-color-2 a.toplink:hover{color:#ee1b21}
.sf-menu-color-3 a:hover,.sf-menu-color-3 a:active,.sf-menu-color-3 a.toplink:hover{color:#00A550}
ul.sf-menu-color-3 li li:hover ul{left: -14em; top: 0px;}
ul.sf-menu-color-3 li li.sfHover ul {left: -14em; top: 0px;}
.sf-menu-color-3 ul {top: -999em; width: 14em; position: absolute; margin-top:11px;}
